.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.logo-text
{
  width:100px;
  height:auto;
}

.bi
{
  margin-left: 10px;
}

.stories
{
  height: 60px;
}

.dp
{
  height:20px;
  margin-top: 5px;
  margin-right: 5px;
}

.images
{
  width:300px;
}

.sugesstions h6
{
  font-size: 14px;
}

.sugesstions .dp
{
  margin-top: 0px !important;
}

