.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.header-items{
  font-size: 22px;
}

.sidebar,
.suggestions {
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 1rem;
}

.feed {
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
}

.d-flex {
  gap: 1rem;
}

.sidebar-item {
  cursor: pointer;
  font-size: 22px;
}

.sidebar-item:hover {
  font-weight: 600;
}


.logo-text
{
  width:100px;
  height:auto;
}

.stories
{
  height: 60px;
}

.dp {
  object-fit: cover;
}

.images {
  border-radius: 6px;
}

.bi {
  cursor: pointer;
}

.sugesstions h6
{
  font-size: 14px;
}

.sugesstions .dp
{
  margin-top: 0px !important;
}

